<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JWT" version="1.3.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="Seq.Apps" version="5.1.0" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Twilio" version="5.61.1" targetFramework="net45" requireReinstallation="true" />
</packages>